.text {
    font-size: 20px;
}
.green {
    color: green;
}
.red {
    color: red;
}
.tomato {
    color: tomato;
}
.container {
    background-image: url(https://banner2.cleanpng.com/20171220/hwe/av2e7808q.webp);
}
.table{
    width: 100%;
    border: 1px solid black;
}
.table div{
    border: 1px solid black;
    float: left;
    width: 30%;
}